<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{pageTitle|ta|async}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
    <ng-container *ngIf="wizard$|async as wizard">
        <div [class.hide]="step>0">
            <app-user-input-form [story]="story" css="hotel" [isShowMap]="true" [isShowName]="true"
                formTitle="new_hotel_review" (onPublish)="onPublish($event)"></app-user-input-form>
        </div>
         <ion-card [class.hide]="step===0">
            <app-accessibility-wizard [showPrev]="true" (onInit)="onInit()" (onDone)="onDone($event)" [wizard]="wizard">
            </app-accessibility-wizard>
        </ion-card>
    </ng-container>
</ion-content>