.date{
    position: absolute;
    display: none;
    z-index: 100;
    background-color: #fff;
    padding: 4px;
    border: 1px solid #ccc;
}
.show{
    display: block;
}
.inp{
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    background-color: #fff;
}