<div appDirection class="cnt">
    <div class="close">
        <app-image (click)="close()" src="delete.svg"></app-image>
    </div>
    <div class="comments">
        <b>PRIVACY POLICY</b>
<br><br><br>
Your privacy is important to us. This privacy policy (the “Policy”) describes how “Wheelerz” (the “Venture”, "us" or "we" or "our") collects and uses information from the websites www.wheelerz.online / www.wheelerz.org (the “Sites”) and the mobile app (the "App") (together known as the "Platform"). This Policy does not apply to any of our other services unless stated otherwise. <br>
By accessing and using the Platform and its' services, you agree to be bound by this Privacy Policy. If you do not agree to any of the provisions as set hereunder in this Privacy Policy, please do not use the Platform or any of its services. <br>
This Policy should be read together with the Terms of Use ("TOU") which also apply to the Platform. <br>
<br>
This Policy does not apply to other websites that post different statements, regardless of whether or not the Site links to them or not.<br>
<br>
NO USERS UNDER 14. <br>
You must be 14 years old or older (the "Permitted Age") to use the Site. If you are under the Permitted Age, please refrain from using the Platform and/or from providing us with any information. We do not knowingly collect information from users under the Permitted Age. If we become aware that we have collected personal information from someone under the Permitted Age, we will use reasonable efforts to delete it. <br>
If you are older than 14 but under 18 you may only use the Site after you have provided us, and we confirm that we have received, Parental Consent. The Parental Consent is an email from your parents or legal guardians, in which they specifically agree to your use of the Site. The email needs to contain (1) a signed photocopy of your parents identification documents (driving license, passport or other officially accepted documentation) and (2) the following statement: "We, the parents of [your name], have read the Privacy Policy and Terms of Use for the Site [www.wheelerz.online / www.wheelerz.org] and [Wheelerz] mobile app, and agree to the terms and take full responsibility for monitoring our son's/daughter's activities on the Site and App".<br>
We may terminate your account if we find that you are younger than the Permitted Age and/or if we did not receive Parental Consent. We may at any time request additional information to confirm your age.<br>
<br>
<br>
WHAT INFORMATION DO WE COLLECT<br>
We collect the following information so that we can provide you with our service:<br>
Information You Give Us. We collect your full‎ name, postal address, email address,  username, gender, location, your wheelchair length, width and height, manual or motorized wheelchair, if you can walk, if you accompanied by assistance and if you use private bath chair, as well as other information you directly give us on our Platform (for example, in your profile), or that you send us (including, but not limited to, information sent to us when you connect and/or interact with the Platform through other third party services or platforms, such as Facebook and Google if your account settings on those platforms allow this [such as payment details]). <br>
Information We Get from Others. We may get information about you from other sources, for example, other users or social platforms (such as Facebook), with which you connect to the Platform (if your account settings on those platforms allow this). <br>
Anonymous Information Automatically Collected. We automatically log anonymous information about you and the device (computer, mobile phone etc.) you use when using the Platform in order to improve our services and your experience. For example, when visiting our Platform, we log your device's operating system, browser type, browser language, and other general statistical information.<br>
Cookies. We may log information using "cookies." Cookies are small data files stored on your device. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your device until you delete them) to provide you with a more personal and interactive experience on our Platform, for example, cookies help store your username when you login so that you don't have to insert this information every time. <br>
You can remove or block cookies from the Platform through your browser settings. You can also block cookies on most mobile devices under "settings". Please note that if you remove or reject our cookies, it could affect how our Platform works for you and/or prevent you from being able to access/use certain features. <br>
This Privacy Policy does not cover the use of cookies by third parties, advertisers and/or partners on our Platform. <br>
<br>
USE OF PERSONAL INFORMATION.<br>
We use your personal information to provide you with the services on our Platform and to improve your experience on our platform. Additionally, we may use your information to:<br>
Operate, maintain and improve our Platform; <br>
Send you information including confirmations, invoices, updates, security alerts, and support and administrative messages; <br>
Respond to comments and/or questions and to assist you with any technical support (establish and set up your account, verify or re-issue a password), log your activity and contact you;<br>
Protect, investigate and deter against fraudulent, unauthorized or illegal activity;<br>
Provide and deliver products and services that you may request;<br>
To protect you and/or other users and prevent any use of the Platform which is unlawful or against our TOU.<br>
To resolve disputes and troubleshoot problems, and:<br>
Send you marketing emails if you agreed to these when signing up. You may ask to be unsubscribed at any time.<br>
To operate an online payments and purchases service.<br>
[Dear Client: if there is any other use of information that wasn’t mentioned, please add it to the list - Not needed.] <br>
<br><br>
SHARING OF PERSONAL INFORMATION<br>
We may share personal information as follows:<br>
When you provide your consent. For example, you may let us share personal information with third parties or other users. Third parties are subject to their own privacy policies.<br>
When we do a business deal, or negotiate a business deal, involving the sale or transfer of all or a part of our business or assets. These deals can include any merger, financing, acquisition, or bankruptcy transaction or proceeding.<br>
For legal, protection, and safety purposes, for example:<br>
To comply with laws.<br>
To lawful requests and legal processes.<br>
To protect the rights and property of the Venture, its agents, customers, and others. This includes enforcing our agreements, policies, and TOU.<br>
In an emergency. This includes protecting the safety of our employees and agents, our customers, or any person.<br>
With third party service providers in order to provide you with specific services and/or features. For example, if we use a third-party payment application. <br>
We may also share general aggregated and/or anonymized data with others for their own uses. This information does not personally identify you. <br>
We may publicly share some of your information, for example photos of you, to promote your service and/or the Platform/Site on various third-party platforms.<br>
We may publicly share some of your information in order to promote the Platform on various third-party platforms. <br>
<br><br>
INTERNATIONAL USERS<br>
Our main office is in the state of Israel. If you use the Site outside of Israel, please note that your information will be saved, stored and processed in Israeli databases and will be governed by Israeli law. By using the Site, you give your consent to the above and to any provisions under applicable data storage and usage laws in Israel.<br>
<br><br>
INTERNATIONAL TRANSFER OF INFORMATION<br>
Due to the fact that some of the services are provided by third parties located in various locations worldwide, your information may be transferred to, and stored on, computers located at these other countries - outside of your country or legal jurisdiction (the "Transfer"). Additionally, the privacy laws of these countries  may differ from those in your jurisdiction.  By using our services and/or providing us with your personal information, you are giving us your consent to this Transfer.<br>
<br><br>
SOCIAL SHARING FEATURES <br>
Our services may integrate with third party social applications and/or services such as Facebook, Instagram, Twitter etc. (the "Social Apps"). These Social Apps let you share information and actions that you take on our Platform, on the Social Apps. For example, an action you take on our Platform may be published on Facebook if your account has been set-up this way. Please check your privacy settings in your profile on the Platform (as is applicable), and the settings and privacy policies of the relevant Social Apps for more information about how they handle the data you share through them. <br>
<br><br>
PROTECTION OF INFORMATION<br>
Your personal information is protected in several ways. For example, access to your account and personal information is available only through a password and unique username/user ID selected by you (or the password and username selected on the Social App through which you logged in). Additionally, your personal information is stored on secured servers of approved third-party service providers, and only selected personnel have access to. <br>
By creating an account, you agree to keep your password and user name in strict confidence and not disclose such information to any third party. Should you feel that your password or account has been compromised, please let us know immediately.<br>
Although we use industry standard security measures to protect your personal information so that it is not made available to unauthorized parties, we cannot guarantee that the information submitted to, maintained on, or transmitted from our systems will be completely secure and any information you provide is your sole responsibility and subject to this Policy and our TOU. <br>
<br><br>
VIEWING AND UPDATING YOUR INFORMATION.  <br>
Editing Your Information: You may review, edit or delete your personal information by accessing your account or by sending us a request by email. Once you delete or cancel your account, we may delete your personal information, except for information needed for ongoing issues such as outstanding payments or legal proceedings.  When necessary, we may keep specific identifiable information for up to 7 years, in order to comply with the law, prevent fraud, assist with any investigation and enforce our Platform TOU. We are not responsible for deleting or updating any information on third party sites.<br>
[Dear client, please go over the above paragraph. This is the recommended data management practice based on Israeli law. Once you begin collecting user information, we suggest that you register a database and take the appropriate actions to manage your user information. We can discuss this in more detail once you are up and running. The best and safest practice is to delete or anonymize any information that you don't need]<br>
<br><br>
COMMUNICATIONS AND PROMOTIONS.<br>
By signing up to our Platform, you agree to receive emails with promotional content related directly or indirectly to our services, including, for example, service suggestions and other news about products and services offered by us and our selected partners. You can opt-out of these communications at any time using the 'unsubscribe' link provided in them, or by contacting us by email, after which we will no longer send you promotional emails. We may still send you non-commercial emails which are necessary in order to provide you with the services. (Client: Please note that the above method of "user consent' is not enough. You need to get specific approval from the users by adding an empty tick box - that they need to tick, which says something like: "I agree to receive marketing emails with awesome offers" when they open a profile/login for the first time). <br>
<br><br>
CHANGES TO THIS PRIVACY POLICY. <br>
This Policy may be changed occasionally. If we make any substantial changes, we may notify you by sending you an e-mail to the last e-mail address you provided, and/or by posting notice of the changes on our Platform. Any changes will be effective upon the earlier of ten (10) calendar days following our email or ten (10) calendar days following our posting of the notice on our Platform. These changes will be effective immediately for new users of our Platform. Continued use of our Platform following notice of such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.<br>
<br><br>
ABUSE OF PRIVACY AND CONTACT INFORMATION.<br>
We take your privacy seriously. If you have any concerns, please let us know. <br>
We welcome your comments and questions. You may contact us at: Wheelerzapp@gmail.com<br>
<br><br>
Last Updated:  November 2021<br>
<br><br>
    </div>
</div>