.main {
    border: 2px solid #733381;
    border-radius: 10px;
}
.comments {
    padding: 20px;
    background-color: #fff;
}
.footer {
    background-color: #733381;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 6px;
}
.footer img {
    cursor: pointer;
    margin-right: 20px;
}
.footer img:hover {
    opacity: 0.6;
}
.title {
    border: 0;
    font-size: 2rem;
    width: 100%;
}
.area {
    border: 0;
    width: 100%;
    font-size: 1.2rem;
}
.images {
    display: flex;
}
.image {
    margin: 6px;
}
.delete {
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-top: -10px;
    margin-left: 70px;
    padding: 0 !important;
    cursor: pointer;
}
.delete img {
    width: 100%;
    height: 100%;
}
:host ::ng-deep .image img {
    width: 80px;
}
.admin-inputs {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #b00;
    display: flex;
    font-size: 1.2rem;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: space-between;
}
.admin-inputs div {
    margin-left: 10px;
    margin-right: 10px;
}
.admin-inputs input {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
