.edit {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}
.item {
    margin-left: 4px;
    margin-right: 4px;
}
.edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #733381;
    border-radius: 20px;
    width: 20px;
    height: 20px;
}
