<ng-container *ngIf="translations$|async as translations">
    <table class="table">
        <tr>
            <th>Key</th>
            <th>En</th>
            <th>He</th>
        </tr>
        <tr>
            <td><input class="ltr" type="text" [(ngModel)]="key"></td>
            <td><textarea class="ltr" type="text" [(ngModel)]="eng"></textarea></td>
            <td><textarea class="rtl" type="text" [(ngModel)]="heb"></textarea></td>
            <td>
                <button (click)="add()">Add</button>
            </td>
        </tr>
        <tr *ngFor="let t of trans">
            <td>{{t.key}}</td>
            <td><textarea (blur)="update(t,'en')" class="ltr" type="text" [(ngModel)]="t.en"></textarea></td>
            <td><textarea (blur)="update(t,'he')" class="rtl" type="text" [(ngModel)]="t.he"></textarea></td>
            <td>
                <button (click)="delete(t.key)">Delete</button>
            </td>
        </tr>
    </table>
</ng-container>