<app-top [isLogin]="false"></app-top>
<div class="main">
    <div class="login" [formGroup]="form">
        <div class="logo">
            <img src="./assets/img/logo.webp">
        </div>
        <div class="form">
            <div>{{'email'|translate}}</div>
            <div><input type="text" formControlName="email"></div>
        </div>
        <div class="form">
            <div>{{'password'|translate}}</div>
            <div><input type="password" formControlName="password"></div>
        </div>
        <div class="buttons">
            <button class="btn-login" (click)="login()">{{'sign_in'|translate}}</button>
            <button class="btn-registr" [routerLink]="['/registration']">{{'sign_up'|translate}}</button>
        </div>
    </div>
</div>