.main {
    background-color: #facbc2;
    height: 100vh;
}
.login {
    width: 400px;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 auto;
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    text-align: center;
}
.form {
    margin-top: 20px;
}
.form input {
    width: 380px;
    font-size: 1.2rem;
    border: 1px solid #733381 !important;
    border-radius: 8px;
    padding: 10px;
}
.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons button {
    border-radius: 20px;
    border-color: transparent;
    width: 350px;
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}
.btn-login {
    background-color: #ad4b9c;
}
.btn-registr {
    background-color: #e55c7a;
}
