.nodata{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txt{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    width: 500px;
    line-height: 40px;
}