.cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.story{
    margin-top: 20px;
    width: 100%;
}
.top-search{
    // position: sticky;
    // top: 50px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
