.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.table tr:nth-child(even) {
    background: #eee;
}
.table tr:nth-child(odd) {
    background: #fff;
}
.table tr:hover{
    background-color: #ccc;
}
.table th {
    color: #fff;
    background-color: #000;
}
.table td,
.table th {
    padding: 4px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.table textarea {
    width: 500px;
}
.table input {
    width: 200px;
}
