.cnt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.img1 {
    width: 400px;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
:host ::ng-deep .img1 img {
    width: 100%;
}
.radio1 {
    margin-top: 10px;
}
.inputs {
    display: flex;
}
.inputs input {
    width: 50px;
}
.inp {
    margin: 10px;
}
