<ion-app *ngIf="isLoaded" [style.direction]="direction">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle>
          <ion-grid>
            <ion-row>
              <ion-col><ion-item (click)="setLeng('en')"><ion-label>English</ion-label></ion-item></ion-col>
              <ion-col><ion-item class="ion-text-end"
                  (click)="setLeng('he')"><ion-label>עִברִית</ion-label></ion-item></ion-col>
            </ion-row>
          </ion-grid>
          <ion-list *ngIf="userService.isLogedIn">
            <ion-button size="small" (click)="logout()">{{'logout'|ta|async}}</ion-button>
            <ion-button size="small" (click)="testCamera">Camera</ion-button>
            <ion-item *ngFor="let p of appPages" routerDirection="root" [routerLink]="[p.url]"
              lines="none" detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>