<div *ngIf="map">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <ion-input label="{{'lat'|translate}}" class="main-input" (change)="viewMap()" type="number" [(ngModel)]="map.center.lat"></ion-input>
                </div>
                <div>
                    <ion-input label="{{'lng'|translate}}" class="main-input" (change)="viewMap()" type="number" [(ngModel)]="map.center.lng"></ion-input>
                </div>
                <div>
                    <ion-input label="{{'zoom'|translate}}" class="main-input" (change)="viewMap()" type="number" [(ngModel)]="map.zoom"></ion-input>
                </div>
                <div>
                    <ion-input label="{{'marker'|translate}}" class="main-input" (change)="viewMap()" type="text" [(ngModel)]="map.marker"></ion-input>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #divmap class="map"></div>
</div>