<div *ngIf="map">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    {{'lat'|translate}}
                    <br>
                    <input class="main-input" (change)="viewMap()" type="number" [(ngModel)]="map.center.lat">
                </div>
                <div>
                    {{'lng'|translate}}
                    <br>
                    <input class="main-input" (change)="viewMap()" type="number" [(ngModel)]="map.center.lng">
                </div>
                <div>
                    {{'zoom'|translate}}
                    <br>
                    <input class="main-input" (change)="viewMap()" type="number" [(ngModel)]="map.zoom">
                </div>
                <div>
                    {{'marker'|translate}}
                    <br>
                    <input class="main-input" (change)="viewMap()" type="text" [(ngModel)]="map.marker">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div #divmap class="map"></div>
</div>