<ng-container *ngIf="story$|async as story">
    <div [class.hide]="step>0">
        <app-user-input-form [isAddPhotoEnable]="isAddPhotoEnable" formTitle="edit_story" [story]="story" [isShowMap]="isHotel" [isShowName]="isHotel"
            (onPublish)="onPublish($event)"></app-user-input-form>
    </div>
    <div *ngIf="wizard" [class.hide]="step===0">
        <app-accessibility-wizard [showPrev]="true" (onInit)="onInit()" (onDone)="onDone($event)" [wizard]="wizard">
        </app-accessibility-wizard>
    </div>
</ng-container>