<div class="flex">
    <app-input-line name="country">
        <select class="main-input country" [(ngModel)]="selectedCountry" (change)="changeCountry()">
            <option [value]="c.id" *ngFor="let c of countries$|async">{{c.name}}</option>
        </select>
    </app-input-line>
    <app-input-line name="state">
        <select  (change)="changeCity()" [(ngModel)]="selectedCity" [disabled]="!selectedCountry" class="main-input city">
            <option [value]="c.id" *ngFor="let c of states$|async">{{c.name}}</option>
        </select>
    </app-input-line>
</div>