<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div style="display: flex; align-items: center;justify-content: space-between;">
        {{pageTitle|ta|async}}
        <ion-icon name="add-circle-outline" [routerLink]="addLink"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <app-story-list [pageSize]="10" [type]="type"></app-story-list>
</ion-content>