<div class="cnt">
    <div *ngIf="editable">
        <a routerLink="/my-profile/story/{{story.id}}">{{'edit'|translate}}</a>
    </div>
    <div class="card">
        <div class="main-flex">
            <div *ngIf="isShowAvatar" class="image">
                <app-avatar [avatar]="story?.user?.avatar"></app-avatar>
            </div>
            <div>
                <div>{{story}}</div>
                <div></div>
            </div>
        </div>
        <div>
            <app-stars [estimation]="story.estimation || 0"></app-stars>
        </div>
    </div>
</div>