.cnt {
    box-shadow: 4px 4px #888888;
    height: 220px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
.card {
    display: flex;
    justify-content: space-between;
}
.image {
    padding: 4px;
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.edit {
    display: flex;
    justify-content: end;
}
.edit-btn,
.delete-btn {
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}
.title {
    font-size: 1.6rem;
}
.date {
    margin-top: 6px;
    font-size: 1rem;
}
.info {
    display: block;
}
.name {
    margin-top: 20px;
}
