.cnt {
    box-shadow: 4px 4px #888888;
    height: 220px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}
.card {
    display: flex;
}
.image {
    border-radius: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.edit {
    display: flex;
    justify-content: end;
}
.edit-btn,
.delete-btn {
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}
.title {
    font-size: 1.6rem;
    font-weight: bold;
}
.date {
    display: flex;
    margin-top: 6px;
    font-size: 1.2rem;
    justify-content: flex-end;
    margin-left: 4px;
    margin-right: 4px;
}
.info {
    display: block;
}
.name {
    margin-top: 20px;
}
.main-flex{
    align-items: center;
}
.info-stars{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.comment-stars{
    width: 100%;
}
.address{
    margin-top: 20px;
    font-size: 1.2rem;
}
.comments{
    margin-top: 10px;
}