<div class="cnt">
    <div class="edit" *ngIf="editable || userService.isAdmin">
        <button class="edit-btn" routerLink="/my-profile/story/{{story.id}}">{{'edit'|translate}}</button>
        <button class="delete-btn" (click)="onDelete.emit(story)">{{'delete'|translate}}</button>
    </div>
    <div class="card pointer" routerLink="/story-info/{{story.id}}">
        <div class="main-flex">
            <div *ngIf="isShowAvatar" class="image">
                <app-avatar [avatar]="story.mainImage"></app-avatar>
            </div>
        </div>
        <div class="comment-stars">
            <div class="info-stars">
                <div class="info">
                    <div class="title">{{story.name || story.title}}</div>
                    <div class="address">
                        <app-image src="address.svg"></app-image>
                        &nbsp;{{story.address}},&nbsp;{{story.city?.name}},&nbsp;{{story.country?.name}}
                    </div>
                </div>
                <div>
                    <app-stars [estimation]="story.estimation || 0"></app-stars>
                    <div class="date">
                        <div>
                            {{story.dateAdd|date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div [innerHTML]="story.comments">
                </div>
            </div>
        </div>
    </div>
</div>