.wizard {
    display: flex;
    justify-content: space-around;
    height: calc(100vh - 400px);
}
.next{
    margin-top: 100px;
}
.wzr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1eaf2;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.wizard-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
}
textarea{
    height: 100px;
}
.progress{
    margin-top: 10px;
    width: 500px;
    text-align: center;
}
.radio-item{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}