.cnt {
    margin-top: 20px;
}
.title {
    display: flex;
}
.country {
    margin: 0px 20px 0px 20px;
    font-size: 1.4rem;
}
.name {
    font-size: 1.8rem;
    font-weight: bold;
}
.avatar {
    margin-top: 20px;
    display: flex;
}
.acc {
    margin-left: 20px;
    margin-right: 20px;
}
.mob {
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}
.mob-item {
    align-items: center;
    margin: 0px 10px 0px 10px;
}
.mob-img {
    margin-left: 6px;
    margin-right: 6px;
}
.mob-img img {
    height: 30px;
}
.mob-name {
    font-size: 16px;
}
