.map {
    width: 600px;
    height: 400px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cnt {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.cnt div{
    margin: 10px;
}
.map-main{
    display: flex;
}