<div *ngIf="map">
    <div class="cnt">
        {{'lat'|translate}}
        <input class="main-input" style="width: 120px;" (change)="viewMap()" type="number" [(ngModel)]="map.center.lat">
        {{'lng'|translate}}
        <input class="main-input" style="width: 120px;"  (change)="viewMap()" type="number" [(ngModel)]="map.center.lng">
        {{'zoom'|translate}}
        <input class="main-input" style="width: 60px;" (change)="viewMap()" type="number" [(ngModel)]="map.zoom">
        {{'marker'|translate}}
        <input class="main-input" (change)="viewMap()" type="text" [(ngModel)]="map.marker">
    </div>
    <div #divmap class="map"></div>
</div>