.cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 2rem;
    margin-bottom: 20px;
}
.img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.radio{
    margin-top: 10px;
}