<div [formGroup]="form">
    <ng-container *ngIf="userService.isAdmin && isFooter">
        <div class="admin-inputs">
            <div>
                Phone:<input formControlName="phone">
            </div>
            <div>
                Address:<input formControlName="address">
            </div>
            <div>
                Email:<input formControlName="mail">
            </div>
            <div>
                Url:<input formControlName="link">
            </div>
        </div>
    </ng-container>
    <div class="main">
        <div class="comments">
            <div *ngIf="isTitle"><input [placeholder]="titlePlaceholder|translate" class="title" type="text" formControlName="title"></div>
            <div>
                <textarea *ngIf="!isEditor" [style.height.px]="areaHeight" [placeholder]="commentPlaceholder|translate" class="area"
                    formControlName="comments"></textarea>
                <angular-editor *ngIf="isEditor" [config]="editorConfig" [placeholder]="'Enter text here...'"
                    formControlName="comments"></angular-editor>
            </div>
        </div>
        <div class="footer">
            <img *ngIf="isAddPhotoEnable||userService.isAdmin" (click)="openAttachment()" src="./assets/img/camera-white.svg">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="images" *ngIf="files">
        <div class="image" *ngFor="let a of files;let i = index">
            <div (click)="deleteImage(a)" class="delete">
                <img src="./assets/img/delete.svg">
            </div>
            <app-file-image [small]="a.small" [fileName]="a.fileName || ''"></app-file-image>
        </div>
    </div>
    <input type="file" multiple (change)="changeFile($event)" #file style="display: none;">
</div>