<div [formGroup]="form">
    <div class="main">
        <div class="comments">
            <div><input [placeholder]="titlePlaceholder|translate" class="title" type="text" formControlName="title">
            </div>
            <div>
                <div #div (keyup)="updateDiv()" style="height: 400px;font-size: 2rem;display: none;" contenteditable="true">
                    123456789 abcdefghijk
                </div>
                 <textarea [placeholder]="commentPlaceholder|translate" class="area"
                    formControlName="comments"></textarea>
            </div>
        </div>
        <div class="footer">
            <img (click)="openAttachment()" src="./assets/img/camera-white.svg">
            <img src="./assets/img/video-white.svg">
            <img src="./assets/img/link-white.svg">
            <img (click)="setTag('b')" src="./assets/img/bold-white.svg">
            <img (click)="setTag('i')" src="./assets/img/italics-white.svg">
        </div>
    </div>
    <div class="images" *ngIf="files">
        <div class="image" *ngFor="let a of files;let i = index">
            <div (click)="deleteImage(a)" class="delete">
                <img src="./assets/img/delete.svg">
            </div>
            <app-file-image [small]="a.small" [fileName]="a.fileName || ''"></app-file-image>
        </div>
    </div>
    <input type="file" multiple (change)="changeFile($event)" #file style="display: none;">
</div>