.mob{
    margin-top: 20px;
    align-items: end;
    flex-wrap: wrap;
}
.mob-item{
    margin-right: 10px;
    margin-left: 10px;
}
.radio{
    align-items: end;
    flex-wrap: wrap;
}
.item{
    margin-top: 10px;
}
.main-btn{
    vertical-align: middle;
}