<div class="cnt">
    <div (click)="openAttachment()" class="upload">
        <img src="./assets/img/camera-white.svg">
    </div>
    <div class="images" *ngIf="files">
        <div class="image" *ngFor="let a of files;let i = index">
            <div (click)="deleteImage(a)" class="delete">
                <img src="./assets/img/delete.svg">
            </div>
            <div class="img">
                <img *ngIf="a.small" [src]="a.small">
                <app-file-image *ngIf="a.fileName" [fileName]="a.fileName"></app-file-image>
            </div>
        </div>
    </div>
</div>
<input type="file" [multiple]="multiple" (change)="changeFile($event)" style="display: none;" #file>