<ion-card class="acc">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="m-center">
                    <app-image src="ac-{{accessibility.name}}.svg"></app-image>
                    <div>
                        {{accessibility.name|translate}}
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list class="acc-iner" *ngIf="accessibility.accessibilityItems?.length">
        <ion-item class="item {{it.selectedValue}}" *ngFor="let it of accessibility.accessibilityItems">
            {{getText(it)|translate}}
        </ion-item>
    </ion-list>
</ion-card>