
.flex {
    flex-wrap: wrap;
}
.it2 {
    color: #b00;
}
.yes {
    color: #000;
}
.no {
    text-decoration: line-through;
    color: #666666;
}
.i_dont_Know {
    display: none;
}
.view-over:hover{
    background-color: #eee;
}
.m-center{
    display: flex;
    align-items: center;
}