$selected-color: #733381;
$border-radius: 10px;
$border-width: 1px;
$height: 30px;

.selected {
    background-color: $selected-color !important;
    cursor: default;
    color: #fff;
}
.est {
    margin: 1px;
    min-height: 22px;
    min-width: 22px;
}
