<ion-card [class]="css" [formGroup]="form">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="form-name">{{formTitle|translate}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <app-country-state-selector [selectedCountry]="story.countryId || 0"
                        [selectedCity]="story.cityId || 0" (onCountry)="onCountry($event)"
                        (onCity)="onCity($event)"></app-country-state-selector>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isShowName">
            <ion-col>
                <app-input-line name="hotel_name"><input formControlName="name" class="main-input" type="text">
                </app-input-line>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-input-line name="arrival">
                    <!-- <app-date-selector (dateSelected)="startDateSelected($event)"
                        [selectedDate]="story.startDate"></app-date-selector> -->
                </app-input-line>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-input-line name="departure">
                    <!-- <app-date-selector (dateSelected)="endDateSelected($event)"
                        [selectedDate]="story.endDate"></app-date-selector> -->
                </app-input-line>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="form-title">{{'rank_your_experience'|translate}}</div>
                    <div>
                        <app-estimation-line (change)="changeEstimation($event)"
                            [estimation]="story.estimation||0"></app-estimation-line>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-input-comment [isAddPhotoEnable]="isAddPhotoEnable" [files]="files"
                    (onImageUpdates)="onImageUpdates($event)" [form]="form">
                </app-input-comment>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="userService.isAdmin && isShowMap">
            <ion-col>
                <div class="map flex">
                    <app-map-edit (onChange)="changeGmap($event)" [gmap]="story.gmap"></app-map-edit>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="warning" (click)="cancel()">{{'cancel'|translate}}</ion-button>
                <ion-button [disabled]="!isValid" (click)="publish()">{{'publish'|translate}}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>