.form-name {
    color: #000;
    margin-top: 20px;
}
.form-title {
    color: #000;
    margin-bottom: 10px;
}
.form-input {
    margin: 20px 0px 20px 0px;
}
.input-line {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    justify-content: end;
}
.buttons button {
    margin-left: 6px;
    margin-right: 6px;
}
.btn-save {
    margin-left: 4px;
}
.story {
    background-color: #fff;
}
.cnt {
    width: 1200px;
}
.syory .cnt,
.hotel .cnt {
    padding: 12px;
    margin-top: 12px;
}
.hotel .cnt {
    background-color: #f1eaf2;
    border-radius: 10px;
}
.card{
    padding: 6px;
}