<ion-card [class]="css" [formGroup]="form">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="form-name">{{formTitle|translate}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <app-country-state-selector [selectedCountry]="story.countryId || 0"
                        [selectedCity]="story.cityId || 0" (onCountry)="onCountry($event)"
                        (onCity)="onCity($event)"></app-country-state-selector>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isShowName">
            <ion-col>
                <app-input-line name="hotel_name"><ion-input formControlName="name" class="main-input"
                        type="text"></ion-input>
                </app-input-line>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-input-line name="arrival">
                    <ion-datetime-button datetime="datetime"></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime (ionChange)="startDateSelected($event)" presentation="date"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="story.startDate"
                                id="datetime"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </app-input-line>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-input-line name="departure">
                    <ion-datetime-button datetime="datetime1"></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime (ionChange)="endDateSelected($event)" presentation="date"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="story.endDate"
                                id="datetime1"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </app-input-line>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="form-title">{{'rank_your_experience'|translate}}</div>
                    <div>
                        <app-estimation-line (change)="changeEstimation($event)"
                            [estimation]="story.estimation||0"></app-estimation-line>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <app-input-comment [isAddPhotoEnable]="isAddPhotoEnable" [files]="files"
                    (onImageUpdates)="onImageUpdates($event)" [form]="form">
                </app-input-comment>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="userService.isAdmin && isShowMap">
            <ion-col>
                <app-map-edit (onChange)="changeGmap($event)" [gmap]="story.gmap"></app-map-edit>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="warning" (click)="cancel()">{{'cancel'|translate}}</ion-button>
                <ion-button [disabled]="!isValid" (click)="publish()">{{'publish'|translate}}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>