<div class="cnt" *ngIf="userMobility$|async as userMobility">
    <div class="wzrd">
        <div [class.unvisible]="!noWalk || !step">
            <img appReverse class="pointer prev-btn" (click)="next(-1)" src="./assets/img/prev.svg">
        </div>
        <div class="cntr">
            <div [class.no-display]="isHideMobType">
                <div class="main-center">{{'mobility_type'|translate}}</div>
                <app-mobility-type (onNowalk)="onNowalk($event)" [mobilitySet]="selectedTypes"
                    (onChange)="onChangeMobilityType($event)" [types]="userMobility.types"></app-mobility-type>
            </div>
            <div [class.no-display]="isHideChairOptions">
                <app-chair-options [currentIndex]="currentIndex" [chairOptions]="chairOptions"></app-chair-options>
                <div class="progress">
                    <app-progress-bar [total]="chairOptions.length+1" [current]="currentIndex"></app-progress-bar>
                </div>
            </div>
            <div [class.no-display]="!isChairInfo">
                <app-chair-info [selectedKey]="selectedCm" (onChangeCm)="onChangeCm($event)"
                    [chairInfo]="chairInfo"></app-chair-info>
                <div style="margin-top: 20px;">
                    <label [class.unvisible]="!noWalk || !nextDisable">
                        <input type="checkbox" [(ngModel)]="agree">
                        {{'i_confirm'|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div>
            <img appReverse [class.unvisible]="!noWalk || nextDisable" class="pointer next-btn" (click)="next(1)"
                src="./assets/img/next.svg">
            <button [disabled]="!agree" [class.unvisible]="!noWalk || !nextDisable" class="main-btn"
                (click)="save()">{{'done'|translate}}</button>
        </div>
    </div>
    <div class="save" *ngIf="!noWalk">
        <label>
            <input type="checkbox" [(ngModel)]="agree">
            {{'i_confirm'|translate}}
        </label>
        <div class="save">
            <button class="main-btn" [disabled]="!agree" (click)="save()">{{'done'|translate}}</button>
        </div>
    </div>
</div>