.save {
    margin-top: 40px;
    display: table;
    margin: 0 auto;
    padding-top: 50px;
}
.cnt {
    display: block;
}
.wzrd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cntr{
    width: 980px;
    padding-top: 50px;
}
.progress{
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-center{
    font-size: 1.4rem;
    margin-top: 10px;
}