<ion-list>
    <ion-item>
        <app-story-selector (onApply)="onApplySelector($event)" [storySelector]="storySelector"></app-story-selector>
    </ion-item>
    <ion-item *ngIf="stories">
        <ion-list>
            <ion-item *ngFor="let story of stories">
                <ng-container [ngTemplateOutlet]="getCurrentTemplate(story.storyType || 0)"
                    [ngTemplateOutletContext]="{$implicit: story}"></ng-container>
            </ion-item>
        </ion-list>
    </ion-item>
    <ion-item *ngIf="isNoData">
        <app-no-data [src]="noDataSrc" [nodata]="nodataText"></app-no-data>
    </ion-item>
</ion-list>


<ng-template #hotelTemplate let-story>
    <app-story-card [isShowAvatar]="isShowAvatar" [editable]="editable" (onDelete)="onDelete($event)"
        [story]="story"></app-story-card>
</ng-template>

<ng-template #cityTemplate let-story>
    <app-post-view [isShowAvatar]="isShowAvatar" [editable]="editable" (onDelete)="onDelete($event)"
        [story]="story"></app-post-view>
</ng-template>