<div class="loading" *ngIf="(loaderService.loading|async)">
    <div class="center">
        <img src="./assets/img/loading.gif">
    </div>
</div>
<div *ngIf="isLoaded" [style.direction]="direction">
    <app-top *ngIf="userService.isLogedIn"></app-top>
    <div [class.main]="userService.isLogedIn">
        <div *ngIf="userService.isLogedIn && (loaderService.onShowTopMenu | async)">
            <app-nav-bar [links]="(links$|async)||[]">
                <a [routerLink]="addUrl" class="add-btn">
                    +&nbsp;{{addText|translate}}
                </a>
            </app-nav-bar>
        </div>
        <div class="cnt">
            <router-outlet></router-outlet>
        </div>
        <div style="height: 100px;"></div>
    </div>
</div>
<div class="footer"></div>