<div class="flex pgn" *ngIf="isShow">
    <div class="next" [class.unvisible]="isFirst"><img appReverse class="prev-btn" (click)="next(-1)"
            src="./assets/img/prev.svg"></div>
    <div class="info">
        {{'page'|translate}}&nbsp;{{current+1}}&nbsp;{{'of'|translate}}&nbsp;{{totalPages}}&nbsp;{{'total'|translate}}&nbsp;{{total}}
    </div>
    <div class="next" [class.unvisible]="isLast"><img appReverse class="next-btn" (click)="next(1)"
            src="./assets/img/next.svg">
    </div>
</div>