<div class="main">
    <div class="login" [formGroup]="form">
        <div class="logo">
            <img src="./assets/img/logologin.jpeg">
        </div>
        <div class="form">
            <div>{{'email'|translate}}</div>
            <div><input type="text" formControlName="email"></div>
        </div>
        <div class="form">
            <div>{{'old_passwod'|translate}}</div>
            <div><input type="password" formControlName="oldPwd"></div>
        </div>
        <div class="form">
            <div>{{'new_password'|translate}}</div>
            <div><input type="password" formControlName="newPwd"></div>
        </div>
        <div class="form">
            <div>{{'confirm_password'|translate}}</div>
            <div><input type="password" formControlName="confirmPwd"></div>
        </div>
        <div class="buttons">
            <button [disabled]="!isValid" class="btn-login main-btn" (click)="change()">{{'sign_in'|translate}}</button>
        </div>
    </div>
</div>