<div class="main-shadow">
    <div class="title-cnt">
        <div>
            <div class="img-div">
                <app-image src="ac-{{accessibility.name}}.svg"></app-image>
            </div>
        </div>
        <div class="title main-marg-10">
            {{accessibility.name|translate}}
        </div>
    </div>
    <div class="items" *ngIf="accessibility.accessibilityItems?.length">
        <div class="item {{it.selectedValue}}" *ngFor="let it of accessibility.accessibilityItems">
            {{getText(it)|translate}}
        </div>
    </div>
</div>