.cnt{
    margin-top: 20px;
}
.name{
    font-size: 2rem;
    font-weight: bold;
}
.flex{
    align-items: center;
}
.flex div{
    margin-left: 4px;
    margin-right: 4px;
}
.user{
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px #ccc;
}
.accs{
    margin-top: 22px;
}
.acc{
    margin-top: 20px;
}
.photo{
    margin: 4px;
}